.section {
  color: #020020 !important;
  text-align: center;
}

.navbar-inverse {
  background-color: #020020;

  ul#menu.nav.navbar-nav li a {
    color: #fefefe !important;
  }
  ul#menu.nav.navbar-nav li.active a {
    background-color: #29253d;
  }
}

.section-title {
  font-size: 70px;
}

.cursive {
  font-style: italic;
}

.padding-bottom-50 {
  padding-bottom: 50px !important;
}
